$black: #0F110C;
$l-pink: #FDECEF;
$d-pink: #fac1cc;
$green: #6CAE75;
$grey: #CECCCC;
$burgundy: #A08282;


$red: #FE654F;
$red-lt: #FE8471;
$red-dk: #a21601;

.grey-accent {
    background: $grey;
}

.l-pink-accent {
    background: $l-pink;
}

.burgundy-accent {
    background: $burgundy;
}

.l-green-accent {
    background: $green;
}